img{
	width:50%;
	height:50%;
	transform: rotate(90deg);
	border:5px black solid;
	border-radius:5px;
	top:50px;
	margin-top:50px;
}

.stuff{
	text-align:center;
	font-style:bold;
	border:5px black solid;
	background-color:red;
	font-weight:900;
	font-size:50px;
	width:50%;
}

body{
	background-color:#00FFFF;

}